POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=contacts
POSTGRES_HOST=localhost
POSTGRES_PORT=5434

DB_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

JWT_SECRET=
JWT_ALGORITHM=
JWT_REFRESH_TOKEN_EXPIRE_MINUTES=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=
JWT_RESET_TOKEN_EXPIRE_MINUTES=

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=
MAIL_SERVER=

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_CACHE_TTL=900
