DB_URL=postgresql+asyncpg://username:password@host:port/db

JWT_SECRET=
JWT_ALGORITHM=
JWT_REFRESH_TOKEN_EXPIRE_MINUTES=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=
MAIL_SERVER=

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=